body {
    color: #000;
    font-family: Monospace, serif;
    font-size:13px;

    background-color: #fff;
    margin: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


#info {
    position: absolute;
    top: 0; width: 100%;
    padding: 5px;
    text-align:center;
}

#content {
    position: absolute;
    top: 0; width: 100%;
    z-index: 1;
    padding: 3em 0 0 0;
}

a {
    color: #0080ff;
}

#c {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-item .scene {
    width: 200px;
    height: 200px;
}

.list-item .description {
    color: #888;
    font-family: sans-serif;
    font-size: large;
    width: 200px;
    margin-top: 0.5em;
}

.title {
    font-family: "Montserrat", serif;
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    letter-spacing: 1px;
}

h1 {

    background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 100px;
    line-height: .75;
    margin: 10px 0;

}

.navbar-nav {
    width: 100%;
    text-align: center;
}

li {
    float: none;
    display: inline-block;
}

#scene3d {
    width: 300px;
    height: 300px;
    background: red;
}

.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

hr.style15 {
    margin-top: 50px;
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.btn{
    border: 1px solid;
}

.btn-text, .btn-text:hover{
    color: #343a40;
}

.btn:hover{
    border: 1px dotted #343a40;
}
